In [2]:
import mysql.connector as mysql

In [3]:
connection = mysql.connect(
              host = "localhost",
              user = "root",
              password = "Manikrishna#143")
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002690C4B1520>

In [4]:
cursor = connection.cursor()
db = cursor.execute(" create database mysql_python")
print(" database created succesfully ")

DatabaseError: 1007 (HY000): Can't create database 'mysql_python'; database exists

In [5]:
connection = mysql.connect(
                host = "localhost",
                user = "root",
                password = "Manikrishna#143",
                database = "mysql_python"
            )
print(" connected to the database mysql_python !! ")

 connected to the database mysql_python !!

In [6]:
#exceuting the queries
cursor = connection.cursor()
cursor.execute(" create table new_employee(name varchar(255) , age int) ")

ProgrammingError: 1050 (42S01): Table 'new_employee' already exists

In [7]:
cursor = connection.cursor()
cursor.execute(" insert into new_employee values('nani','20'),('vishnu','22')")

In [10]:
connection = mysql.connect("localhost","root","Manikrishna#143","mysql_python")
res = read_query(connection," select * from new_employee ")
for i in res:
    print(i)

TypeError: __init__() takes 1 positional argument but 5 were given